@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto+Slab:wght@100&family=Source+Code+Pro:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  height: 100%;
}
body {
  background-color: #121212;
  height: 100%;
}
.middle {
  transform: translate(-50%, 0px);
  left: 50%;
}
header {
  position: fixed;
  width: 40%;
  background-color: #1b1b1b;
  height: 7%;
  border-radius: 0px 0px 50px 50px;
  z-index: 4;
}
header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 2.5% 10%;
  list-style-type: none;
}
.head {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  font-size: 1.02vw;
  color: #ffd700;

  background: linear-gradient(currentColor, currentColor);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
.head:hover {
  background-size: 100% 2px;
}
main {
  width: 100%;
  height: 100%;
}
h1 {
  position: absolute;
  font-family: "Lora", serif;
  color: #fffafa;
  font-size: 2.7vw;
  top: 10%;
  color: #ffd700;
}
.trait {
  position: absolute;
  height: 0.5vh;
  width: 8vw;
  display: block;
  background-color: white;
  margin: 1em auto 1em;
  top: 16.5%;
}
.elem_1 {
  position: absolute;
  display: flex;
  align-items: center;
  color: white;
  top: 21.5%;
}
.text_1 {
  font-size: 1.05vw;
  font-family: "Open Sans", sans-serif;
  margin-right: 10%;
}
.text_2 {
  font-size: 1.05vw;
  font-family: "Open Sans", sans-serif;
  margin-left: 10%;
}
.text_1 p,
.text_2 p {
  margin-bottom: 2%;
}
p b {
  color: #ffd700;
  font-size: 1.2vw;
}
.elem_1 img {
  width: 15.5vw;
  border: 5px solid #ffd700;
  border-radius: 25% 0 25% 0;
}
.elem_2 {
  position: absolute;
  display: flex;
  align-items: center;
  color: white;
  top: 60%;
}
.elem_2 img {
  width: 22vw;
  border: 5px solid #ffd700;
  border-radius: 0 25% 0 25%;
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 80%;
  background-color: #1b1b1b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75% 10%;
  font-size: 1.6vh;
  color: #ffd700;
  font-family: "Open Sans", sans-serif;
}
.links {
  display: flex;
  align-items: center;
  left: 20%;
}
.link {
  font-size: 1.25vw;
  text-decoration: none;
  list-style-type: none;
  color: white;
}
.link:not(:last-child) {
  margin-right: 25%;
}
.modal {
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: rgba(18, 18, 18, 0.95);
  backdrop-filter: blur(2px);
}
.modal ul {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.modal ul li {
  transform: scale(2.15);
  margin-bottom: 10%;
}
.on {
  visibility: visible;
  z-index: 5;
}
.anim {
  opacity: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
.opac {
  opacity: 1;
}
@media (max-width: 1440px) {
  header {
    width: 50%;
  }
  .head {
    font-size: 1.25vw;
  }
  .trait {
    top: 14.8%;
  }
  .text_1,
  .text_2 {
    font-size: 1.2vw;
    line-height: 1.5;
    margin-top: -2.5%;
  }
  .elem_1 img {
    width: 17.68vw;
  }
  .elem_2 img {
    width: 25vw;
  }
}
@media (max-width: 1024px) {
  header {
    width: 60%;
  }
  .head {
    font-size: 1.7vw;
  }
  h1 {
    font-size: 3.4vw;
  }
  .trait {
    top: 14.8%;
  }
  p b {
    color: #ffd700;
    font-size: 1.8vw;
  }
  .text_1,
  .text_2 {
    font-size: 1.7vw;
    line-height: 1.5;
    margin-top: -2.5%;
  }
  .elem_1 {
    transform: translate(-15%, 0px);
    left: 23.2%;
  }
  .elem_2 {
    transform: translate(-12%, 0px);
    left: 21.4%;
  }
  .elem_1 img {
    width: 28vw;
  }
  .elem_2 img {
    width: 38.6vw;
  }
  .link {
    font-size: 2vw;
  }
}
@media (max-width: 768px) {
  header {
    width: 80%;
  }
  .head {
    font-size: 2.3vw;
  }
  h1 {
    font-size: 4.5vw;
  }
  .trait {
    top: 14%;
  }
  p b {
    color: #ffd700;
    font-size: 2.4vw;
  }
  .text_1,
  .text_2 {
    font-size: 2.2vw;
    line-height: 1.5;
    margin-top: -6%;
  }
  .text_2 {
    margin-top: -15%;
  }
  .elem_1 {
    transform: translate(-15%, 0px);
    left: 23.2%;
  }
  .elem_2 {
    transform: translate(-12%, 0px);
    left: 21.4%;
  }
  .elem_1 img {
    width: 28vw;
    margin-top: -34%;
  }
  .elem_2 img {
    width: 38.6vw;
    margin-top: 10%;
  }
  .link {
    font-size: 3vw;
  }
}
@media (max-width: 425px) {
  header {
    display: none;
  }
  .head {
    background-size: 0% 1px;
  }
  .head:hover {
    background-size: 100% 1px;
  }
  h1 {
    position: relative;
    font-size: 6.2vw;
    transform: translate(0px, 0px);
    left: 0%;
    text-align: center;
  }
  .trait {
    width: 20vw;
  }
  p b {
    color: #ffd700;
    font-size: 4vw;
  }
  .text_1,
  .text_2 {
    font-size: 3.6vw;
    line-height: 1.5;
    margin: 0;
  }
  .text_2 {
    padding-top: 120px;
    padding-bottom: 60px;
    margin-top: 0px;
    margin-left: 0%;
  }
  main p {
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
  }
  .elem_1,
  .elem_2 {
    transform: translate(0px, 0px);
    left: 0%;
  }
  .elem_1 img,
  .elem_2 img {
    display: none;
  }
  .link {
    font-size: 5vw;
  }
  footer {
    position: fixed;
    height: 26px;
  }
  .menu-btn {
    width: 4.5vh;
    height: 4.5vh;
    margin-left: 6.5%;
    margin-top: 6.5%;
    background-color: #1b1b1b;
    border-radius: 50%;
    position: fixed;
    z-index: 6;
    transform: scale(1.5);
  }
  .menu-btn span,
  .menu-btn span::before,
  .menu-btn span::after {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #ffd700;
    border-radius: 50px;
  }
  .menu-btn span::before,
  .menu-btn span::after {
    content: "";
    display: block;
    transition: 0.2s;
  }
  .menu-btn span::before {
    transform: translateY(-5px);
  }
  .menu-btn span::after {
    transform: translateY(5px);
  }
  .menu-btn_active span {
    height: 0;
  }
  .menu-btn_active span:before {
    transform: rotate(45deg);
  }
  .menu-btn_active span:after {
    transform: rotate(-45deg);
  }
  .links {
    margin-right: 6%;
  }
  .name {
    font-size: 3.5vw;
  }
}
@media (max-width: 414px) {
  .head {
    background-size: 0% 1px;
  }
  .head:hover {
    background-size: 100% 1px;
  }
  .menu-btn {
    width: 5vh;
    height: 5vh;
  }
  .name {
    font-size: 3.6vw;
  }
  .links {
    margin-right: 8%;
  }
}
@media (max-width: 320px) {
  .head {
    background-size: 0% 1px;
  }
  .head:hover {
    background-size: 100% 1px;
  }
  .menu-btn {
    width: 6vh;
    height: 6vh;
  }
  .name {
    font-size: 3.8vw;
  }
  .link {
    font-size: 5.5vw;
  }
  .text_1,
  .text_2 {
    font-size: 3.8vw;
    line-height: 1.5;
    margin: 0;
  }
  .text_2 {
    padding-top: 140px;
  }
}

@-moz-document url-prefix() {
  .elem_1 img {
    width: 40.5vw;
  }
  .elem_2 img {
    width: 40.5vw;
  }
  @media (max-width: 1440px) {
    .elem_1 img {
      width: 18vw;
    }
    .elem_2 img {
      width: 18vw;
    }
  }
  @media (max-width:768px) {
    main p {
      text-align: justify;
      margin-left: 10%;
      margin-right: 10%;
    }
    .elem_1,
    .elem_2 {
      transform: translate(0px, 0px);
      left: 0%;
    }
    .elem_1 img,
    .elem_2 img {
      display: none;
    }
    .text_1,
    .text_2 {
      margin: 0;
    }
    .text_1 {
      margin-top: 8%;
    }
    .text_2 {
      margin-left: 0%;
    }
  }
}