@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto+Slab:wght@100&family=Source+Code+Pro:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
body {
  background-color: #121212;
}
.middle {
  transform: translate(-50%, 0px);
  left: 50%;
}
header {
  position: fixed;
  width: 40%;
  background-color: #121212;
  height: /*7%*/ 7vh;
  border-radius: 0px 0px 50px 50px;
  z-index: 4;
}
header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 2.5% 10%;
  list-style-type: none;
}
.head {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  font-size: 1.02vw;
  color: #ffd700;

  background: linear-gradient(currentColor, currentColor);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
.head:hover {
  background-size: 100% 2px;
}
.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100% 40% 5%;
  grid-gap: 1%;
  grid-template-areas:
    "1"
    "2"
    "3";
}
.elem_1 {
  grid-area: 1;
}
.elem_2 {
  grid-area: 2;
}
.elem_3 {
  grid-area: 3;
}
#slides {
  position: relative;
  height: 100vh;
}
#slides .round,
#slides h1,
#slides h2,
#slides h3,
#slides .strelka-bottom {
  position: absolute;
  color: #fffafa;
  z-index: 2;
  font-family: "Lora", serif;
}
#slides .round {
  width: 15vw;
  height: 15vw;
  border: 5px solid #ffd700;
  border-radius: 50%;
  overflow: hidden;
  top: 10.5%;
  background: #ffd700;
}
.round img {
  width: 100%;
  height: 100%;
}
#slides h1 {
  font-size: 4.5vw;
  top: 42%;
}
#slides h2 {
  font-size: 2.2vw;
  top: 52.5%;
}
#slides h3 {
  font-size: 1.5vw;
  top: 82%;
}
.strelka-bottom {
  width: 6%;
  height: 6%;
  cursor: pointer;
  fill: white;
  transition: fill 0.5s ease-in-out;
  top: 86.5%;
}
.strelka-bottom:hover {
  fill: #ffd700;
}
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  background-size: cover;
  object-fit: cover;
  filter: brightness(60%);
}
.showing {
  opacity: 1;
  z-index: 2;
}
.slide:nth-of-type(1) {
  background-image: url("../img/slide_1.png");
}
.slide:nth-of-type(2) {
  background-image: url("../img/slide_2.png");
}
.slide:nth-of-type(3) {
  background-image: url("../img/slide_3.jpg");
}
.elem_2 h1 {
  position: absolute;
  color: #ffd700;
  font-family: "Lora", serif;
  font-size: 1.8vw;
}
.trait {
  position: absolute;
  height: 0.5vh;
  width: 20vw;
  display: block;
  background-color: white;
  margin: 1em auto 1em;
  margin-top: 4%;
}
.text .middle {
  position: absolute;
  font-size: 1vw;
  font-family: "Open Sans", sans-serif;
  color: white;
  margin-top: 6%;
  margin-bottom: 3.2px;
  font-weight: 400;
  line-height: 1.6;
}
.inf .ins {
  position: absolute;
  margin-top: 8%;
}
.text .attention {
  position: absolute;
  margin-top: 12%;
  background-color: #222222;
  padding: 1.2%;
  border-radius: 35px;
}
.att {
  color: red;
  font-size: 125%;
}
footer {
  background-color: #1b1b1b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 10%;
  font-size: 1.6vh;
  color: #ffd700;
  font-family: "Open Sans", sans-serif;
}
.links {
  display: flex;
  align-items: center;
}
.link {
  font-size: 1.25vw;
  text-decoration: none;
  list-style-type: none;
  color: white;
}
.link:not(:last-child) {
  margin-right: 25%;
}
.modal {
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: rgba(18, 18, 18, 0.95);
  backdrop-filter: blur(2px);
}
.modal ul {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.modal ul li {
  transform: scale(2.15);
  margin-bottom: 10%;
}
.on {
  visibility: visible;
  z-index: 5;
}
.anim {
  opacity: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
.opac {
  opacity: 1;
}
@media (max-width: 1440px) {
  header {
    width: 50%;
  }
  .head {
    font-size: 1.25vw;
  }
  #slides .round {
    width: 17vw;
    height: 17vw;
  }
  #slides h3 {
    font-size: 1.7vw;
  }
  .elem_2 h1 {
    font-size: 2.1vw;
  }
  .text .middle {
    font-size: 1.2vw;
  }
  .text .attention {
    padding: 1.55%;
  }
}
@media (max-width: 1024px) {
  header {
    width: 60%;
  }
  .head {
    font-size: 1.7vw;
  }
  #slides .round {
    width: 24vw;
    height: 24vw;
  }
  #slides h1 {
    font-size: 5.65vw;
  }
  #slides h2 {
    font-size: 3.2vw;
  }
  #slides h3 {
    font-size: 2.5vw;
  }
  .elem_2 h1 {
    font-size: 2.8vw;
  }
  .trait {
    margin-top: 5%;
  }
  .text .middle {
    font-size: 1.52vw;
  }
  .inf .inc {
    margin-top: 8%;
  }
  .inf .ins {
    margin-top: 11%;
  }
  .text .attention {
    padding: 1.85%;
    margin-top: 16.5%;
  }
  footer {
    margin-top: -1%;
  }
  .link {
    font-size: 2vw;
  }
}
@media (max-width: 768px) {
  header {
    width: 80%;
  }
  .head {
    font-size: 2.3vw;
  }
  #slides .round {
    width: 30vw;
    height: 30vw;
    margin-top: 5%;
  }
  #slides h1 {
    font-size: 7vw;
    margin-top: 1%;
    transform: translate(-25%, 0px);
    left: 35%;
  }
  #slides h2 {
    font-size: 3.5vw;
    margin-top: -2%;
    transform: translate(-60%, 0px);
    left: 55%;
  }
  #slides h3 {
    font-size: 3.5vw;
  }
  .strelka-bottom {
    width: 8.5%;
    height: 8.5%;
  }
  .elem_2 h1 {
    font-size: 3.5vw;
    transform: translate(-20%, 0px);
    left: 35%;
  }
  .trait {
    margin-top: 6%;
    width: 30vw;
  }
  .text .middle {
    font-size: 2.2vw;
    transform: translate(-15%, 0px);
    left: 25%;
  }
  .inf .inc {
    margin-top: 10%;
  }
  .inf .ins {
    margin-top: 14%;
    transform: translate(-15%, 0px);
    left: 30%;
  }
  .text .attention {
    padding: 3.2%;
    margin-top: 22.5%;
  }
  footer {
    margin-top: -2%;
  }
  .link {
    font-size: 3vw;
  }
}
@media (max-width: 425px) {
  header {
    display: none;
  }
  .head {
    background-size: 0% 1px;
  }
  .head:hover {
    background-size: 100% 1px;
  }
  #slides .round {
    width: 52vw;
    height: 52vw;
    margin-top: 5%;
  }
  #slides h1 {
    font-size: 11vw;
    text-align: center;
    margin-top: 2%;
  }
  #slides h2 {
    position: relative;
    text-align: center;
    font-size: 4.5vw;
    top: 58%;
    transform: translate(0px, 0px);
    left: 0%;
  }
  #slides h3 {
    font-size: 5.5vw;
  }
  .strelka-bottom {
    width: 15.5%;
    height: 15.5%;
    margin-top: -10%;
  }
  .grid {
    grid-template-rows: 90% 45% 5%;
  }
  .elem_2 {
    padding: 0px 25px 0px 25px;
  }
  .elem_2 h1 {
    position: relative;
    text-align: center;
    font-size: 5.6vw;
    transform: translate(0px, 0px);
    left: 0%;
  }
  .trait {
    margin-top: 2.8%;
    width: 45vw;
  }
  .inf {
    padding: 0px 15px 0px 15px;
    margin-bottom: -20%;
    margin-top: 15%;
  }
  .inf .inc,
  .inf .ins {
    position: relative;
    text-align: center;
    font-size: 3.8vw;
    transform: translate(0px, 0px);
    left: 0%;
  }
  .ins a {
    font-size: 3.8vw;
  }
  .text .attention {
    padding: 4%;
  }
  .attention .att {
    font-size: 4.5vw;
  }
  .attention p {
    font-size: 3.8vw;
  }
  footer {
    margin-top: -2%;
  }
  .link {
    font-size: 5vw;
  }
  .menu-btn {
    width: 4.5vh;
    height: 4.5vh;
    margin-left: 6.5%;
    margin-top: 6.5%;
    background-color: #1b1b1b;
    border-radius: 50%;
    position: fixed;
    z-index: 6;
    transform: scale(1.5);
  }
  .menu-btn span,
  .menu-btn span::before,
  .menu-btn span::after {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #ffd700;
    border-radius: 50px;
  }
  .menu-btn span::before,
  .menu-btn span::after {
    content: "";
    display: block;
    transition: 0.2s;
  }
  .menu-btn span::before {
    transform: translateY(-5px);
  }
  .menu-btn span::after {
    transform: translateY(5px);
  }
  .menu-btn_active span {
    height: 0;
  }
  .menu-btn_active span:before {
    transform: rotate(45deg);
  }
  .menu-btn_active span:after {
    transform: rotate(-45deg);
  }
  .links {
    margin-right: 6%;
  }
}
@media (max-width: 414px) {
  .grid {
    grid-template-rows: 85% 50% 5%;
  }
  .head {
    background-size: 0% 1px;
  }
  .head:hover {
    background-size: 100% 1px;
  }
  .menu-btn {
    width: 5vh;
    height: 5vh;
  }
  #slides h1 {
    margin-top: 6.5%;
  }
  #slides h2 {
    top: 62%;
  }
  #slides h3 {
    margin-top: -5%;
  }
  .name {
    font-size: 3.6vw;
  }
  .links {
    margin-right: 8%;
  }
}
@media (max-width: 320px) {
  .grid {
    grid-template-rows: 80% 50% 5%;
  }
  .head {
    background-size: 0% 1px;
  }
  .head:hover {
    background-size: 100% 1px;
  }
  .menu-btn {
    width: 6.5vh;
    height: 6.5vh;
  }
  .text .attention {
    padding: 5%;
  }
}

@-moz-document url-prefix() {
  .elem_2 {
    margin-top: 1%;
  }
  footer {
    margin-top: 20%;
  }
  @media (max-width: 1440px) {
    .elem_2 {
      margin-top: 2.5%;
    }
    footer {
      margin-top: 25%;
    }
  }
  @media (max-width: 768px) {
    .elem_2 {
      margin-top: 2.5%;
    }
    .inc {
      text-align: center;
    }
    .inf .ins {
      margin-top: 17.5%;
    }
    footer {
      margin-top: 45%;
    }
  }
}